

.Main--header {
  background-color: #3367d6;
  padding: .75em;
  margin-bottom: none;
  color: #fff;
  -moz-box-shadow: 0 0 4px rgba(0,0,0,.14),
                   0 4px 8px rgba(0,0,0,.28);
  -webkit-box-shadow: 0 0 4px rgba(0,0,0,.14),
                      0 4px 8px rgba(0,0,0,.28);
  box-shadow: 0 0 4px rgba(0,0,0,.14),
              0 4px 8px rgba(0,0,0,.28);
}

.Main--section-container {
  z-index: -1;
}

.Main--div-wrapper {
  display: inline-block;
  vertical-align: top;
}

h1 {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  line-height: 44px;
  margin-left: 3em;
}
