.Vote {
  padding: 1em;
}

.Vote h2 {
  padding-bottom: 1em;
}

.Vote--button-container {
  text-align: center;
  margin-left: 3em;
}

.Vote--button {
  padding: .5em 1.75em;
  font-size: 1.5em;
  background-color: #039be5;
  border: none;
  -moz-box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
  -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
  color: #fff;
  margin-left: 1em;
}
